/* 导入 Noto Serif SC 字体 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PingFang SC', 'Microsoft YaHei', 'Noto Serif SC', Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

.noto-serif-sc {
  font-family: 'Noto Serif SC', serif;
}

.black-and-white {
  filter: grayscale(100%);
}

html {
  min-width: 360px;
}